#header {
    background : WhiteSmoke;
}

#footer {
    background : WhiteSmoke;
}

h1 {
    font-size : 3.8rem;   /* 48px */
    line-height : 1.3;   /* 48px */
    margin-bottom: 0.5em;   /* 24px */
}

h2 {
    font-size : 3rem;   /* 36px */
    line-height : 1.3333;   /* 48px */
    margin-bottom: 0.6667em;   /* 24px */
}


.col-sm-3{
    background : DarkOrange;
}
.box{
    height : 40rem;
}

html {
    font-size : 62.5%;
    height : 100%;
}

@media screen and (min-width : 400px){
    html{ font-size : 100%}
}
 
@media screen and (min-width : 768px){
    html{ font-size : 45%} 
}

@media screen and (min-width : 992px){
    html{ font-size : 60%}
}
 
@media screen and (min-width : 1200px) {
    html{ font-size : 70%}
}


